@page
@model IndexModel
@{
}
<body>

<br>
<h2> Lista Zleceń</h2>
<a class='btn btn-primary btn-sm' href='/Zlecenia/Create'>Nowe Zlecenie</a>
    <a class='btn btn-primary btn-sm' href='/Zlecenia/Wydajnosc'>Wydajności Zlecenia</a>
    <a class='btn btn-primary btn-sm' href='/Zlecenia/Plan'>Plan zleceń</a>
    <table class="table table-responsive table-sm">
    <thead>
        <tr>
            <th>ID ZLECENIA</th>
            <th>NR_ZLECENIA</th>
            <th>NR_TRAWERSY</th>
            <th>DATA_DOSTAWY</th>
            <th>DATA_REALIZACJI</th>
            <th>NAZWA_WYROBU</th>
            <th>UWAGI</th>
            <th>ILOŚĆ_SZTUK</th>
            <th>ILOŚĆ_M2</th>
            <th>PODKŁAD</th>
            <th>ŚRUT</th>
            <th>STATUS</th>
            <th>KLIENT</th>
            <th>DOSTAWCA_FARBY</th>
            <th>KOLOR_FARBY</th>
            <th>TYP_FARBY</th>
            <th>POWIERZCHNIA</th>
            <th>POŁYSK</th>
            <th>AKCJE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listCommision)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.NR_ZLECENIA</td>
                <td>@item.NR_TRAWERSY</td>
                <td>@item.DATA_DOSTAWY</td>
                <td>@item.DATA_REALIZACJI</td>
                <td>@item.NAZWA_WYROBU</td>
                <td>@item.UWAGI</td>
                <td>@item.ILOŚĆ_SZTUK</td>
                <td>@item.ILOŚĆ_M2</td>
                <td>@item.PODKŁAD</td>
                <td>@item.ŚRUT</td>
                <td>@item.STATUS</td>
                <td>@item.KLIENT</td>
                <td>@item.DOSTAWCA_FARBY</td>
                <td>@item.KOLOR_FARBY</td>
                <td>@item.TYP_FARBY</td>
                <td>@item.POWIERZCHNIA</td>
                <td>@item.POŁYSK</td>
                <td>
                 <a class="btn btn-primary btn-sm" href="/Zlecenia/Test?id=@item.id">Edytuj</a>      
                 <a class="btn btn-primary btn-sm" href="/Zlecenia/Operacje?id=@item.id">Operacje</a>    
                 <a class="btn btn-primary btn-sm" href="/Zlecenia/Delete?id=@item.id">Usuń</a>
                 <a class="btn btn-primary btn-sm" href="/Zlecenia/DodajOperacje?id=@item.id">Dodaj Operacje</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</body>